{{> header}}

<h1>{{title}}</h1>

<div class="entries">

    {{#entries}}
    <section>
        <header class="entry-header">
            <h2 class="entry-name"><a href="/article/{{id}}">{{name}}</a></h2>
            <div class="entry-meta">Entered on <strong>{{addedAt}}</strong></div>
        </header>
    </section>
    {{/entries}}
</div>

{{> footer}}